BODY {background: white; color: black;}

H1, H2, H3 {font-weight: bold;}
H1 {font-size: 134%;}
H2 {font-size: 117%;}
H3 {font-size: 100%;}

TABLE, TR, TH, TD {border: 1px solid black; border-collapse: collapse;}
TH {text-align: left;}
TH, TD {padding: 0.2em;}